[submodule "four-card-feature"]
	path = four-card-feature
	url = https://github.com/nkirukka/four-card-feature.git
[submodule "search-box-expand"]
	path = search-box-expand
	url = https://github.com/nkirukka/search-box-expand.git
[submodule "sunnyside-agency-landing-page"]
	path = sunnyside-agency-landing-page
	url = https://github.com/nkirukka/sunnyside-agency-landing-page.git
[submodule "sunny-side_agency"]
	path = sunny-side_agency
	url = https://github.com/nkirukka/sunny-side_agency.git
[submodule "submodules/four-card-feature"]
	path = submodules/four-card-feature
	url = https://github.com/nkirukka/four-card-feature.git
[submodule "submodules/search-box-expand"]
	path = submodules/search-box-expand
	url = https://github.com/nkirukka/search-box-expand.git
[submodule "submodules/card_reveal"]
	path = submodules/card_reveal
	url = https://github.com/nkirukka/card_reveal.git
[submodule "submodules/neon-glow-animation"]
	path = submodules/neon-glow-animation
	url = https://github.com/nkirukka/neon-glow-animation.git
[submodule "submodules/fylo-dark-theme-landing-page"]
	path = submodules/fylo-dark-theme-landing-page
	url = https://github.com/nkirukka/fylo-dark-theme-landing-page.git
[submodule "submodules/product-preview-card-component"]
	path = submodules/product-preview-card-component
	url = https://github.com/nkirukka/product-preview-card-component.git
