@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
body {
  background: url("./imgs/bg-intro-desktop.png") repeat;
  text-align: center;
  background-color: rgba(233, 28, 28, 0.781);
  color: rgb(247, 234, 234);
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
}
section {
  margin: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.9rem;
}
.details {
  font-size: 1.3rem;
  padding: 10px 50px;
}
.try-free {
  font-weight: bold;
  background-color: purple;
  border-radius: 0.3em;
  padding: 0.9em 1rem;
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 9px 6px -3px rgba(0,0,0,0.15);
}

.form-group {
  box-shadow: 0px 10px 13px -7px #000000, 0px 9px 6px -3px rgba(0,0,0,0.15);
  background-color: white;
  border-radius: 0.33em;
  padding-bottom: 30px;
  flex-basis: 90%;
}
.form-group input {
  font-size: 1.1rem;
  margin-bottom: 1em;
  width: 80%;
  padding: 1.7em 1em;
  border-radius: 0.33em;
  border: 1px solid;
}
.form-group input:first-child {
  margin-top: 2em;
}
.form-group input::placeholder {
  color: rgb(31, 32, 32);
  font-size: 1.2rem;
}
.form-group input:placeholder-shown {
  color: rgb(231, 229, 238);
}
.form-group input:hover,
.form-group input:focus {
  border-color: rgb(142, 77, 216);
  outline-color: rgb(199, 194, 188);
}
button {
  width: 87%;
  height: 60px;
  background-color: rgb(67, 173, 67);
  color: white;
  padding: 1.2em 2em;
  max-width: 100%;
  border-radius: 0.4em;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: rgb(42, 182, 42);
  box-shadow: 0px 10px 13px -7px #000000, 0px 9px 6px -3px rgba(0,0,0,0.15);
}
.small {
  margin-top: 6px;
  color: rgb(179, 172, 163);
  padding: 0 5rem;
  font-size: 1rem;
}
.terms {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  section {
    flex-direction: row;
    margin-left: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .details{
    margin-right: -190px;
    font-size: 2rem;
  }
  .form-group{
    width: 230%;
  }
  .try-free{
    background-color: purple;
    border-radius: .5em;
    position: relative;
    left: 30%;
    bottom: 260px;
    transform: translate(44%, -67%);
    padding: 20px 50px;
    width: 144%;
  }
  .small{
    font-size: .1rem;
  }
 
}
