// Google font: Edu NSW ACT Foundation
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500&display=swap");
// Google font: Fraunces
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&display=swap");
// Google font: Open Sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;800&display=swap");
// Google font: Metamorphous
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --cube-blue: hsl(220, 100%, 38%);
  --dark-blue-bg: hsl(256, 70%, 12%);
  --light-blue: hsl(180, 100%, 50%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(204, 204, 255);
}
// Header
header {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: var(--dark-blue-bg);
  .overview {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    .greet {
      position: absolute;
      top: 0;
      left: 1em;
      display: block;
      color: rgb(248, 248, 248);
      font-family: "Open Sans", serif;
      font-size: 2rem;
      .name {
        color: rgb(255, 166, 0);
        font-weight: 900;
      }
    }
    h1 {
      position: inherit;
      color: var(--white);
      font-size: 3.5rem;
      font-family: "Open sans", cursive;
      &::before {
        content: "an aspiring";
        position: inherit;
        font-size: 0.5rem;
        font-family: "Metamorphous", serif;
        letter-spacing: 1em;
        color: var(--light-blue);
      }
    }
  }

  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px darken(hsl(220, 100%, 38%), 8%);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;

    &:nth-child(2n) {
      border-color: lighten(hsl(220, 100%, 38%), 10%);
    }

    &:nth-child(2) {
      animation-delay: 2s;
      left: 25vw;
      top: 40vh;
    }
    &:nth-child(3) {
      animation-delay: 4s;
      left: 75vw;
      top: 50vh;
    }
    &:nth-child(4) {
      animation-delay: 6s;
      left: 90vw;
      top: 10vh;
    }
    &:nth-child(5) {
      animation-delay: 8s;
      left: 10vw;
      top: 85vh;
    }
    &:nth-child(6) {
      animation-delay: 10s;
      left: 50vw;
      top: 10vh;
    }
  }
  // Navigation
  nav {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 3em;
    background-color: rgb(34, 98, 235);
    margin-bottom: 1em;
    .logo {
      color: #ffffff;
      font-family: "Metamorphous", serif;
    }
    .nav-links {
      display: none; //flex on dsktop
      flex-direction: column;
      li {
        list-style: none;
        a {
          text-decoration: none;
        }
      }
    }
  }
  //Cube end
}
//Header end
.mobile-menu {
  position: absolute;
  top: -10%; //5.2 when active
  left: 0;
  right: 0;
  z-index: 12;
  background-color: var(--white);
  width: 90%;
  height: 30vh;
  margin: 0 auto;
  border-radius: 3em;
  transform: scale(0.1);
  transform-origin: top right;
  visibility: hidden;
  transition: all 0.4s ease-out;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li + li {
      margin-top: 2em;
    }
    a {
      position: relative;
      color: var(--dark-blue-bg);
      font-size: 1.7rem;
      font-family: "Open Sans", serif;
      font-weight: 600;
      background: transparent;
      padding: 0.2em 3em;
      border-radius: 12px;
      transition: all 0.6s ease-in;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100px;
        height: 3px;
        background-color: red;
        transform: scale(0, 1);
        transform-origin: bottom left;
        transition: 0.5s linear;
      }
    }
  }
}
.mobile-menu a:hover::before {
  transform: scale(1, 1);
}
.mobile-menu.active {
  visibility: visible;
  transform: scale(1);
  top: 5.2%;
}
.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  cursor: pointer;
  .hamburger {
    transform: scale(2);
  }
  .hamburger.active {
    display: none;
  }
  .close {
    transform: scale(3);
    display: none;
  }
  .close.active {
    display: block;
  }
}
main {
  border: 2px solid red;
}
.container {
  height: 100%;
  width: 90%;
  margin: 2em auto;
}
.projects-box {
  width: 100%;
// display: grid;
// grid-template-columns: repeat(2, 1fr);
  .projects-card {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 2em auto;
    background: url("../imgs/fylo1.png")
      no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: 2px 0px 8px rgb(49, 47, 47);
    z-index: 1;
    overflow: hidden;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: calc(60% + 35px);
      background-color: rgb(236, 233, 233);
      transition: transform 0.5s 0.25s ease-in;
      z-index: -1;
    }
    &::before {
      top: 0;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
      transform: translateY(-100%);
    }
    &::after {
      bottom: 0;
      clip-path: polygon(0% 54%, 100% 0%, 100% 100%, 0% 100%);
      transform: translateY(100%);
    }
    &:hover::before,
    &:hover::after {
      transform: translateY(0);
    }
    &__details {
      opacity: 0;
      transition: opacity 0.25s;
      h2 {
        color: rgb(255, 145, 0);
        margin-bottom: 1em;
      }
      a {
        position: relative;
        width: 19px;
        height: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.2em;
        padding: 0.3em 2em;
        background: transparent;
        overflow: hidden;
        border: 2px solid var(--dark-blue-bg);
        color: rgb(44, 44, 46);
      }
      &:hover {
        opacity: 1;
        transition-delay: 0.7s;
      }
    }
  }
}
.feature {
  text-align: center;
  color: black;
  margin-bottom: 7em;
  h2 {
    font-size: 3rem;
    font-family: "Fraunces", serif;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1.2rem;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
